<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Handy</title>
  </head>
  <body>
    <h1>Welcome to Handy!</h1>
    <a href="#about">About</a>
    <a href="/login">Login</a>
    <a href="/register">SignUp</a>
    <a href="#contact">Contact</a>


    <div id="about">
      <p>
        About
        </p>
    </div>
    <div id="contact">
      <p>
        Contact
        </p>
    </div>


  </body>
</html>
